.registration {
    position: relative;

    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: calc(100%);
    height: calc(100%);

    margin: 0px;
    padding: 0px;

    overflow: hidden;

    z-index: 0;
}

.registration > .background {
    position: absolute;

    top: 0%;
    left: 0%;

    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: calc(100%);
    height: calc(100%);

    margin: 0px;
    padding: 0px;

    z-index: 0;
}

.registration > .background > img {
    position: relative;

    display: block;

    max-width: calc(100%);
    width: calc(100%);
    max-height: calc(100%);
    height: calc(100%);

    margin: 0px;
    padding: 0px;

    transform: rotateY(0deg);

    z-index: 0;
}

.registration > .content {
    position: absolute;

    top: 0%;
    left: 0%;

    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: calc(100%);
    height: calc(100%);

    margin: 0px;
    padding: 0px;

    z-index: 1;
}

.registration > .content > .header {
    position: relative;

    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: calc(100%);
    height: calc(18%);

    margin: 3vh 0px 0px 0px;
    padding: 0px;

    z-index: 1;
}

.registration > .content > .header > .background {
    position: absolute;

    top: 0%;
    left: 0%;

    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: calc(100%);
    height: calc(100%);

    margin: 0px;
    padding: 0px;

    z-index: 1;
}

.registration > .content > .header > .background > img {
    position: relative;

    display: block;

    max-width: calc(90%);
    width: auto;
    max-height: calc(90%);
    height: auto;

    margin: 0px;
    padding: 0px;

    z-index: 1;
}

.registration > .content > .header > .content {
    position: absolute;

    top: 0%;
    left: 0%;

    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: calc(100%);
    height: calc(100%);

    margin: 0px;
    padding: 0px;

    z-index: 2;
}

.registration > .content > .main {
    position: relative;

    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: calc(100%);
    height: calc(75%);

    margin: 0px;
    padding: 0px;

    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    border-radius: 45% 0% 0% 0%;

    z-index: 1;
}

.registration > .content > .main > .background {
    position: absolute;

    top: 0%;
    left: 0%;

    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: calc(100%);
    height: calc(100%);

    margin: 0px;
    padding: 0px;

    z-index: 1;
}

.registration > .content > .main > .background > img {
    position: relative;

    display: block;

    max-width: calc(90%);
    width: auto;
    max-height: calc(90%);
    height: auto;

    margin: 0px;
    padding: 0px;

    z-index: 1;
}

.registration > .content > .main > .content {
    position: absolute;

    top: 0%;
    left: 0%;

    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: calc(100%);
    height: calc(100%);

    margin: 0px;
    padding: 0px;

    z-index: 2;
}

.registration > .content > .main > .content > .form {
    position: relative;

    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: calc(90%);
    height: calc(85%);

    margin: 10vh 5vw 5vh 5vw;
    padding: 0px;

    z-index: 2;
}

.registration > .content > .main > .content > .form > .background {
    position: absolute;

    top: 0%;
    left: 0%;

    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: calc(100%);
    height: calc(100%);

    margin: 0px;
    padding: 0px;

    z-index: 2;
}

.registration > .content > .main > .content > .form > .background > img {
    position: relative;

    display: block;

    max-width: calc(90%);
    width: auto;
    max-height: calc(90%);
    height: auto;

    margin: 0px;
    padding: 0px;

    z-index: 2;
}

.registration > .content > .main > .content > .form > .content {
    position: absolute;

    top: 0%;
    left: 0%;

    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: calc(100%);
    height: calc(100%);

    margin: 0px;
    padding: 0px;

    z-index: 3;
}

.registration > .content > .main > .content > .form > .content > .input {
    position: relative;

    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: calc(100%);
    height: calc(85%);

    margin: 0px;
    padding: 0px;

    z-index: 3;
}

.registration > .content > .main > .content > .form > .content > .input > .background {
    position: absolute;

    top: 0%;
    left: 0%;

    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: calc(100%);
    height: calc(100%);

    margin: 0px;
    padding: 0px;

    z-index: 3;
}

.registration > .content > .main > .content > .form > .content > .input > .background > img {
    position: relative;

    display: block;

    max-width: calc(90%);
    width: auto;
    max-height: calc(90%);
    height: auto;

    margin: 0px;
    padding: 0px;

    z-index: 3;
}

.registration > .content > .main > .content > .form > .content > .input > .content {
    position: absolute;

    top: 0%;
    left: 0%;

    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: calc(90%);
    height: calc(90%);

    margin: 0px;
    padding: 5vh 5vw 0vh 5vw;

    z-index: 4;
}

.registration > .content > .main > .content > .form > .content > .input > .content > .field {
    position: relative;

    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    width: calc(100%);
    height: calc(16%);

    margin: 8px 0px 8px 0px;
    padding: 0px;

    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;

    z-index: 4;
}
.registration > .content > .main > .content > .form > .content > .input > .content > .field[is-invalid="true"] {
    border: 1px solid rgba(255, 57, 57, 0.8);
}
.registration > .content > .main > .content > .form > .content > .input > .content > .field[is-confirmed="true"] {
    border: 1px solid rgba(120, 255, 57, 0.8);
}
.registration > .content > .main > .content > .form > .content > .input > .content > .field[is-disabled="true"] {
    background: rgba(121, 121, 121, 0.5);
    border: 1px solid rgba(205, 205, 205, 0.2);
}

.registration > .content > .main > .content > .form > .content > .input > .content > .field > .name {
    position: relative;

    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    max-width: calc(100% - 33px);
    width: auto;
    height: calc(35% - 12px);

    margin: 10px 14px 2px 19px;
    padding: 0px;

    z-index: 4;
}

.registration > .content > .main > .content > .form > .content > .input > .content > .field > .name > span {
    color: rgba(255, 255, 255, 0.95);

    font-family: 'Exo 2', sans-serif;
    text-transform: none;
    text-decoration: none;
    text-align: left;

    font-size: 1.8vh;
    line-height: 100%;
    letter-spacing: 0px;
    font-weight: 500;
    text-shadow: 0 0px 2px rgb(255 255 255 / 35%);
}
.registration > .content > .main > .content > .form > .content > .input > .content > .field[is-disabled="true"] > .name > span {
    color: rgba(190, 190, 190, 0.6);
}
.registration > .content > .main > .content > .form > .content > .input > .content > .field[is-required="true"] > .name > span::after {
    position: absolute;

    top: calc(-50%);
    left: calc(100% + 2px);

    display: block;

    content: '*';

    width: calc(100%);
    height: calc(100%);

    margin: 0px;
    padding: 0px;

    color: rgba(255, 0, 0, 1);

    z-index: 4;
}

.registration > .content > .main > .content > .form > .content > .input > .content > .field > .value {
    position: relative;

    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: calc(100% - 28px);
    height: calc(65% - 6px);

    margin: 0px;
    padding: 2px 14px 4px 14px;

    z-index: 4;
}

.registration > .content > .main > .content > .form > .content > .input > .content > .field > .value > input {
    position: relative;

    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: calc(100% - 10px);
    height: calc(90%);

    margin: 0px;
    padding: 0px 5px 0px 5px;

    background: none;
    border: none;
    outline: none;

    color: rgba(255, 255, 255, 1);

    font-family: 'Exo 2', sans-serif;
    text-transform: none;
    text-decoration: none;
    text-align: left;

    font-size: 2.8vh;
    line-height: 100%;;
    letter-spacing: 0px;
    font-weight: 500;
    text-shadow: 0 0px 2px rgb(0 0 0 / 25%);

    z-index: 4;
}
.registration > .content > .main > .content > .form > .content > .input > .content > .field[is-invalid="true"] > .value > input {
    border-left: 1px solid rgba(255, 57, 57, 0.7);
}
.registration > .content > .main > .content > .form > .content > .input > .content > .field[is-disabled="true"] > .value > input {
    color: rgba(192, 192, 192, 0.7);

    pointer-events: none;
}
.registration > .content > .main > .content > .form > .content > .input > .content > .field > .value > input:focus { 
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
.registration > .content > .main > .content > .form > .content > .input > .content > .field > .value > input::placeholder,
.registration > .content > .main > .content > .form > .content > .input > .content > .field > .value > input::-webkit-input-placeholder {
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

    color: rgba(255, 255, 255, 0.5);

    font-weight: 500;
    text-shadow: none;
}

.registration > .content > .main > .content > .form > .content > .submit {
    position: relative;

    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: calc(100%);
    height: calc(10%);

    margin: 8px 8px 8px 8px;
    padding: 0px;

    z-index: 3;
}

.registration > .content > .main > .content > .form > .content > .submit > .background {
    position: absolute;

    top: 0%;
    left: 0%;

    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: calc(100%);
    height: calc(100%);

    margin: 0px;
    padding: 0px;

    z-index: 3;
}

.registration > .content > .main > .content > .form > .content > .submit > .background > img {
    position: relative;

    display: block;

    max-width: calc(90%);
    width: auto;
    max-height: calc(90%);
    height: auto;

    margin: 0px;
    padding: 0px;

    z-index: 3;
}

.registration > .content > .main > .content > .form > .content > .submit > .content {
    position: absolute;

    top: 0%;
    left: 0%;

    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: calc(100%);
    height: calc(100%);

    margin: 0px;
    padding: 0px;

    z-index: 4;
}

.registration > .content > .main > .content > .form > .content > .submit > .content button {
    position: relative;

    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: calc(100%);
    height: calc(100%);

    margin: 0px;
    padding: 5px 10px 5px 10px;

    background: none;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 8px;

    z-index: 4;
}
.registration > .content > .main > .content > .form > .content > .submit[is-disabled="true"] > .content button {
    background: rgba(121, 121, 121, 0.5);
    border: 1px solid rgba(205, 205, 205, 0.2);

    pointer-events: none;
}

.registration > .content > .main > .content > .form > .content > .submit > .content button > span {
    color: rgba(255, 255, 255, 0.95);

    font-family: 'Exo 2', sans-serif;
    text-transform: none;
    text-decoration: none;
    text-align: left;

    font-size: 1.8vh;
    line-height: 100%;;
    letter-spacing: 0px;
    font-weight: 500;
    text-shadow: 0 0px 2px rgb(255 255 255 / 35%);
}
.registration > .content > .main > .content > .form > .content > .submit[is-disabled="true"] > .content button > span {
    color: rgba(190, 190, 190, 0.6);
}

.registration > .content > .main > .content > .form > .content > .cancel {
    position: relative;

    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: calc(100%);
    height: calc(3%);

    margin: 8px 8px 8px 8px;
    padding: 0px;

    z-index: 3;
}

.registration > .content > .main > .content > .form > .content > .cancel > .background {
    position: absolute;

    top: 0%;
    left: 0%;

    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: calc(100%);
    height: calc(100%);

    margin: 0px;
    padding: 0px;

    z-index: 3;
}

.registration > .content > .main > .content > .form > .content > .cancel > .background > img {
    position: relative;

    display: block;

    max-width: calc(90%);
    width: auto;
    max-height: calc(90%);
    height: auto;

    margin: 0px;
    padding: 0px;

    z-index: 3;
}

.registration > .content > .main > .content > .form > .content > .cancel > .content {
    position: absolute;

    top: 0%;
    left: 0%;

    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: calc(100%);
    height: calc(100%);

    margin: 0px;
    padding: 0px;

    z-index: 4;
}

.registration > .content > .main > .content > .form > .content > .cancel > .content button {
    position: relative;

    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: calc(100%);
    height: calc(100%);

    margin: 0px;
    padding: 5px 10px 5px 10px;

    background: none;
    border: none;
    border-radius: 8px;

    z-index: 4;
}
.registration > .content > .main > .content > .form > .content > .cancel[is-disabled="true"] > .content button {
    background: none;
    border: none;

    pointer-events: none;
}

.registration > .content > .main > .content > .form > .content > .cancel > .content button > span {
    color: rgba(255, 255, 255, 0.95);

    font-family: 'Exo 2', sans-serif;
    text-transform: none;
    text-decoration: underline;
    text-align: left;

    font-size: 1.8vh;
    line-height: 100%;;
    letter-spacing: 0px;
    font-weight: 500;
    text-shadow: 0 0px 2px rgb(255 255 255 / 35%);
}
.registration > .content > .main > .content > .form > .content > .cancel[is-disabled="true"] > .content button > span {
    color: rgba(190, 190, 190, 0.6);
}