@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Exo+2:wght@100;400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Days+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Russo+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);

html, body, #main {
    position: absolute;
    display: block;

    height: 100%;
    width: 100%;

    margin: 0%;
    padding: 0%;

    overflow: hidden;
}

/* *a { text-decoration: none; text-transform: none; } */

/* *input[disabled] { pointer-events: none; } */
/* *button[disabled], button[disabled]::before, button[disabled]::after, button[disabled]:hover { cursor: not-allowed; } */

/* *img {
    position: relative;

    display: block;

    max-width: calc(100%);
    max-height: calc(100%);
    width: auto;
    height: auto;

    margin: 0px;
    padding: 0px;
} */


*[is-bordered="true"] { border: 1px solid rgba(0, 0, 0, 1); }
*[no-select="true"] { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }